.logo-container{
    display: flex;
    font-family: var(--mclaren);

    img{
        width: 3rem;
    }

    @media screen and (width <= 266px){
        h1{
            display: none;
        }
    }
}