.banner-container{
    display: flex;
    //z-index: 2;
    justify-content: space-between;
    //gap: 35rem;
    align-items: center;
    overflow: hidden;
    //margin-top: 1rem;
    padding: 2rem 3rem;

    .banner-info{
        font-family: var(--mongolian);
        width: 50%;

        h1{
            font-family: var(--mclaren);
            font-size: 3rem;
            font-weight: 400;
        }
        p{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        button{
            background-color: #D2EAE1;
            box-shadow: 0px 2px 5px gray;
            font-size: 1.2rem;
            padding: 10px;
            min-width: 25%;
            border: none;
            transition: ease-in-out 1s;
        }
        button:hover{
            background-color: #b0dacb;
            transform: scale(1.1);
        }
    }

    .florangel-pic2{
        display: none;
        margin-top: 3rem;
        
        img{
            width: 80%;
            margin-bottom: 2rem;
            border-radius: 5rem;
        }
    }

    .florangel-pic{
        width: 30%;
        //max-height: 60vh;
        //position: absolute;
        //right: 0;   
        background-image: url("/cute-flower.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    @media screen and (width <= 1066px){
        //margin-top: 15%;

        .banner-info{
            width: 60%;
            
            h1{
                font-size: 7vmin;
            }
            
            p{
                font-size: 4vmin;
            }
            button{
                font-size: 3.5vmin;
            }
        }
    }

    @media screen and (width <= 870px){
        flex-direction: column;

        .banner-info{
            width: 100%;
            text-align: center;
        }

        .florangel-pic{
            display: none;
        }

        .florangel-pic2{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (width <= 450px){
        margin-top: 2rem;
        padding: 1rem;
    }

    /*@media screen and (width <= 870px){
        margin-top: 5rem;
    }*/

    /*.wave{
        background-image: url("/wave.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        //margin-bottom: -53rem;
        width: 100%;
        height: 35%;
        right: 0;
        bottom: 0;
        z-index: -1;
    }*/
}

